.strengths-plus{
    padding-top: 94px;
}
.strengths{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title{
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}    

.strengths-container{
    display: flex;
    padding: 0px;

    
    .strengths-list:not(:last-child){
        margin-right: 30px;
    }
}
.strengths-item{
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
    .strengths-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px; 
    }
    .strengths-title{
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .strengths-text{
        color: $secColor ;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}
.product{
    display: flex;
    position: relative;

    .strengths-img{
        display: block;
    }
    .product-title{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 370px;
        height: 70px;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        background: rgba(47, 48, 58, 0.8); 
    }
    .strengths-img-title{
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
    }

}
