
@media screen and (min-width:320px) and (max-width:767px) {
    .hero-container{
        background-color:#C4C4C4;
        background-image:linear-gradient(
            to right,rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-img-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        background-size: 480px 400px;
    }
    @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-container {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/studio/hero-img-mobile@2x.jpg);
  }
}
    
    
}

@media screen and (min-width:768px) {
    .hero-container{
        background-color:#C4C4C4;
        background-image:linear-gradient(
            to right,rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero-img-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        background-size: 768px 400px;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-img-tablet@2x.jpg);
    }
  }
}
@media screen and (min-width:1200px) {
    .hero-container{
        background-image:linear-gradient(
        to right,rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero-img-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/studio/hero-img-desktop@2x.jpg);
    }
  } 
    
}
    



.hero{
    background-color:#C4C4C4; 
}

.hero-title{
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    
    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}
.button{
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    border: 0px solid $accentColor;
    border-radius: 4px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;
    

    background-color:$accentColor;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;    
    letter-spacing: 0.06em;
    cursor:pointer;
    outline: transparent; 
}