.hero-container{
    // background-color:#C4C4C4;
    @media screen and (min-width:320px) and (max-width:767px) {

    background-color:#C4C4C4;
    background-image:linear-gradient(
        to right,rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
    url(../images/bghero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 480px 400px;
    }

    @media screen and (min-width:768px) {
    background-color:#C4C4C4;
    background-image:linear-gradient(
        to right,rgba(47, 48, 58, 0.4),
                 rgba(47, 48, 58, 0.4)),
    url(../images/bghero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: 768px 400px;
    }

    @media screen and (min-width:1200px) {
        // background-color:#C4C4C4;
        background-image:linear-gradient(
            to right,rgba(47, 48, 58, 0.4),
                     rgba(47, 48, 58, 0.4)),
        url(../images/bghero.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        min-height: 600px;
        margin-right: auto;
        margin-left: auto;
        
        
        
    }
    
}
.hero{
    background-color:#C4C4C4; 
}

.hero-title{
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
    
    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}
.button{
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 50px;
    border: 0px solid $accentColor;
    border-radius: 4px;
    padding: 10px 32px;
    margin-right: auto;
    margin-left: auto;
    

    background-color:$accentColor;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;    
    letter-spacing: 0.06em;
    cursor:pointer;
    outline: transparent; 
}